<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Ein Linktree von ZoeyVid" />
    <title>Linktree - ZoeyVid</title>
    <link href="/assets/css/output.css" rel="stylesheet">
    <script src="/assets/js/htmlReader.js"></script>
    <script src="/assets/js/elements.js"></script>
    <script src="/assets/js/linktree.js"></script>
    <link rel="icon" type="image/webp" href="/images/ZoeyVid-PB.webp">
</head>

<body>
    <div id="navbar">
        <script>
            readHTML("navbar", "/assets/elements/navbar.html")
        </script>
    </div>
    <noscript>
        <style type="text/css">
            .pagecontainer {
                display: none;
            }

            body {
                background-color: black;
                color: white;
            }

            .noscriptmsg {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
        <div class="noscriptmsg">
            Please enable Javascript. You need it to visit this site!
        </div>
    </noscript>
    <div id="linktree" class="bg-gray-800 rounded-sm pr-12 pl-12 text-white text-center">
        <script>
            loadView()
        </script>
        Test Text Testet Texte
    </div>
    <div id="footer">
        <script>
            readHTML("footer", "/assets/elements/footer.html")
        </script>
    </div>
</body>

</html>
