name: tailwindcss-update
on:
  push:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:
jobs:
  tailwindcss-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: update tailwindcss (minify)
        uses: ZoeyVid/tailwindcss-update@main
        with:
          input: assets/css/input.css
          output: assets/css/output.css
#          params: "--minify"
      - name: push changes
        run: |
          git add --force assets/css/output.css
          git config user.name "GitHub"
          git config user.email "noreply@github.com"
          git diff-index --quiet HEAD || git commit -sm "tailwindcss-update"
          git push
